/* Created by: MariaG
* Created on: March 28, 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-05-HTML-Salary
*/

body {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  text-align: center;
  background-color: #2c199d;
  color: white;
  padding: 20px;
  font-family: Arial Narrow, Arial, sans-serif;
}

p {
  font-family: Arial, sans-serif;
}

h3 {
  font-family: Arial, sans-serif;
  color: #2c199d;
}

form {
  font-family: Arial, sans-serif;
}

#result {
  background-color: #fdf89c;
  color: #352a78;
  padding: 20px;
}
